.task-gallery {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 10px;
    border: 2px solid #57BD96;
    width: 80%;
    margin: auto;
    /*border-radius: 5px;*/
    overflow: auto;
    padding: 5px;
}